*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    display: block;
    width: 100%;
    padding: 50px 15px;
    background-color: #FAFAFA;
}

input{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    color: #000000;
    font: normal 14px "Roboto";
    text-align: center;
    border: solid 1px #333333;
    box-shadow: none;
}
input:last-of-type{
    margin-right: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

p{
    display: flex;
    width: 50px;
    height: 50px;
    color: #000000;
    font: normal 14px "Roboto";
    align-items: center;
    justify-content:center;
}

#conteudo{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.grupo{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.numeros-sorteados{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.ternos{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.jogos{
    display: block;
    width: 100%;
}
.jogos .jogo{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}
.jogos .jogo p{
    background-color: #EEEEEE;
    border: solid 1px #333333;
}
.jogos .jogo input{
    background-color: #EEEEEE;
}
.jogos .jogo .box-jogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jogos .jogo .box-jogo input{
    margin: 0px;
    background-color: #FFFFFF;
}

